body {
    font-family: 'Roboto', sans-serif;
}
.container {
    width: 1280px;
    margin-left: auto;
    margin-right: auto;
}
.header-nav {
    margin-top: 60px;
}
.header-logo-wrapper {
    font-size: 80px;
    margin-bottom: 40px;
}
.header-logo {
    text-decoration: none;
    color: #000;
}
.header-logo-span {
    color: #33ccff;
}
.header-menu-list {
    display: flex;
    justify-content: center;
    background-color: #35444F;
    padding-left: 0;
    list-style: none;
    height: 72px;
    font-size: 24px;
    margin-top: 0;
    margin-bottom: 0;
}
.header-menu-item {
    padding: 25px 35px;
    text-align: center;
    border-left: 1px solid #fff;
}
.header-menu-item:last-child{
    border-right: 1px solid #fff;
}
.header-menu-item:hover {
    background-color: #222F3A;
}
.header-menu-link {
    color: #fff;
    text-decoration: none;
}
.content {
    margin-top: 50px;
    margin-bottom: 50px;
    display: flex;
    justify-content: space-between;
}
.aside-menu {
    margin-right: 50px;
}
.aside-menu-list {
    width: 344px;
    border: 1px solid #000000;
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
    list-style: none;
    font-size: 27px;
    line-height: 27px;
}
.aside-menu-item {
    padding: 27px 38px;
}
.aside-menu-item:hover {
    background-color: #DBDBDB;
    text-align: center;
}
.aside-menu-link {
    text-decoration: none;
    color: #495863;
}
.aside-menu-item:hover > 
.aside-menu-link {
    color: #35444F;
}
.content-wrapper-img {
    border: 1px solid #000000;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 530px;
}
.content-img {
    transition-duration: 1.5s;
}
.content-wrapper-img:hover >
.content-img {
    width: 360px;
}
.text-content {
    margin-top: 35px;
    margin-bottom: 0;
}
.footer-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: rgba(99, 105, 110, 0.48);
    height: 70px;
    margin-bottom: 30px;
}
.footer-menu-list {
    display: flex;
    justify-content: center;
    font-size: 28px;
    line-height: 28px;
    list-style: none;
    padding-left: 0;
    margin-top: 0;
    margin-bottom: 0;
}
.footer-menu-item {
    padding: 20px 0 20px 40px;
}
.footer-menu-link {
    text-decoration: none;
    color: #0C1927;
}
.footer-menu-link:hover {
    color: #3181A6;
    padding-bottom: 10px;
    border-bottom: 1px solid #3181A6;
}
.footer-copyright {
    font-size: 24px;
    line-height: 24px;
    color: #010101;
    padding-right: 40px;
}
