body {
    font-family: 'Ubuntu', sans-serif;
    background-image: url(../images/background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-color: #68584b;
    color: #FFFFFF;
}
a {
    color: #FFFFFF;
    text-decoration: none;
}
header {
    background-color: rgba(0, 0, 0, 0.4);
}
.nav {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    align-items: center;
}
.logo-link, .nav-text-link {
    transition: 1s;
}
.logo-link:hover, .nav-text-link:hover {
    color: #3CB878;
}
.logo {
    margin-top: 18px;
    margin-bottom: 18px;
    font-size: 22px;
    line-height: 22px;
    text-transform: uppercase;
}
.icons-link {
    height: 23px;
    width: 23px;
    background-repeat: no-repeat;
    background-position: center;
    margin-right: 25px;
    transition: 1s;
}
.nav-icons > path {
    transition: 1s;
}
.nav-icons:hover > path {
    fill: #3CB878;
}
.push {
    margin-left: auto;
}
.nav-text {
    font-size: 14px;
    line-height: 14px;
    padding-top: 3px;
}
.nav-text::before {
    content: "";
    background-color: rgba(1255, 255, 255, 0.5);
    display: inline-block;
    height: 19px;
    width: 1px;
    vertical-align: middle;
    position: relative;
    left: -20px;
    margin-left: 20px;
}
.container {
    width: 1200px;
    height: calc(100vh - 58px);
    margin-left: auto;
    margin-right: auto;
    position: relative;
}
.registration-form {
    max-width: 444px;
    background-color: #FFFFFF;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    padding: 35px 60px;
}
.logo-link-wrap {
    display: flex;
    margin-bottom: 15px;
}
.logo-link-wrap::before {
    content: "";
    width: 18px;
    height: 18px;
    position: absolute;
    top: 35px;
    left: 0;
    background-color: #3CB878;
}
.form-logo {
    color: #434343;
    font-size: 20px;
    line-height: 20px;
    text-align: left;
    margin: 0;
}
.log-in-link {
    color: #3CB878;
    font-size: 14px;
    line-height: 14px;
    text-align: right;
    margin-left: auto;
    transition: 1s;
}
.log-in-link:hover {
    color: #01813F;
    text-decoration: underline;
}
.button-wrap {
    display: grid;
    gap: 5px;
    grid-template-columns: 1fr 1fr;
    margin-bottom: 30px;
}
.button {
    height: 48px;
    font-size: 16px;
    line-height: 16px;
    color: #FFFFFF;
    border: none;
    cursor: pointer;
    border-radius: 3px;
    text-align: right;
    padding-right: 20px;
    padding-top: 3px;
    outline: none;
}
.facebook-button {
    background-color: #305DB8;
    background-image: url(../images/facebook.svg);
    background-repeat: no-repeat;
    background-position: 17px center;
    vertical-align: middle;
    transition: 1s;
}
.facebook-button:hover, .facebook-button:focus {
    background-color: #022263;
}
.facebook-button::before {
    content: "";
    background-color: rgba(10, 22, 47, 0.1);
    display: inline-block;
    height: 28px;
    width: 1px;
    vertical-align: middle;
    position: relative;
    left: -15px;

}
.google-button {
    background-color: #DF4A32;
    background-image: url(../images/google.svg);
    background-repeat: no-repeat;
    background-position: 12px center;
    vertical-align: middle;
    transition: 1s;
}
.google-button:hover, .google-button:focus {
    background-color: #AB1F09;
}
.google-button::before {
    content: "";
    background-color: rgba(10, 22, 47, 0.1);
    display: inline-block;
    height: 28px;
    width: 1px;
    vertical-align: middle;
    position: relative;
    left: -30px;
}
.choice {
    color: #848484;
    font-size: 14px;
    overflow: hidden;
}
.choice::before,
.choice::after {
    background-color: #F2F2F2;
    content: "";
    display: inline-block;
    height: 1px;
    position: relative;
    vertical-align: middle;
    width: 50%;
}
.choice::before {
    right: 0.5em;
    margin-left: -50%;
}
.choice::after {
    left: 0.5em;
    margin-right: -50%;
}
.form-cells {
    width: 100%;
    padding: 15px 20px;
    border-radius: 4px;
    border: 1px solid #F2F2F2;
    margin-bottom: 15px;
    color: #434343;
}
.form-cells::placeholder {
    color: #BEBEBE;
}
.form-cells:focus {
    outline: none;
    box-shadow: 0 3px 8px rgba(0, 0, 0, 0.2);
}
.checkbox-wrap {
    margin-bottom: 20px;
}
.checkbox-text {
    color: #434343;
}
.checkbox-text:hover > .checkbox-link-color {
    color: #01813F;
    text-decoration: underline;
}
.checkbox-text::before {
    content: "";
    border: 1px solid #F2F2F2;
    padding: 0 10px;
    margin-right: 10px;
    background-repeat: no-repeat;
    background-position: center;
}
.checkbox-link-color {
    color: #3CB878;
}
.form-checkbox {
    display: none;
    margin-bottom: 20px;
}
.form-checkbox:checked + .checkbox-text:before {
    background-image: url(../images/check_hover.svg);
  }
.form-submit {
    height: 48px;
    width: 100%;
    font-size: 16px;
    line-height: 16px;
    color: #FFFFFF;
    border: none;
    cursor: pointer;
    border-radius: 3px;
    text-align: center;
    background-color: rgba(60, 184, 120, 0.8);
    outline: none;
    transition: 1s;
}
.form-submit:hover, .form-submit:focus {
    background-color:#01813F;
}

