body {
    font-family: 'Roboto', sans-serif;
    background-image: url(../images/background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-color: #010707;
    color: #FFFFFF;
    font-size: 18px;
    line-height: 18px;
}
a {
    text-decoration: none;
    color: #FFFFFF;
}
.container {
    max-width: 1020px;
    margin-left: auto;
    margin-right: auto;
}
.header-nav {
    display: flex;
}
.logo-wrap {
    background: left no-repeat url(../images/logo.png);
    display: flex;
    width: 180px;
    height: 50px;
    padding-left: 62px;
    margin-top: 50px;
    margin-bottom: 20px;
    transition: 0.5s;
}
.logo-wrap:hover {
    color: #F26522;
    background: left no-repeat url(../images/logo-hover.png);
}
.logo-text {
    display: inline-block;
    text-align: left;
    margin-top: 0;
    margin-bottom: 0;
    font-size: 29px;
    line-height: 25px;
    font-weight: 700;
    text-transform: uppercase;
}
.logo-text-span {
    font-size: 18px;
    line-height: 18px;
}
.phone-email-wrap {
    margin-left: auto;
}
.header-email {
    display: block;
    margin-top: 45px;
    margin-bottom: 20px;
    transition: 0.5s;
}
.header-email:hover {
    color: #F26522;
}
.header-phone {
    display: block;
    text-align: right;
    margin-bottom: 15px;
    transition: 0.5s;
}
.header-phone:hover {
    color: #F26522;
}
.main-container {
    display: grid;
    gap: 60px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    justify-content: space-between;
    align-content: center;
}
.card {
    height: 260px;
    width: 300px;
}
.card:hover > .card-without-tour-name > .tour-price {
    bottom: 0;
}
.card:hover > .tour-name {
    color: #F26522;
}
.card-without-tour-name {
    position: relative;
    overflow: hidden;
    border-width: 2px;
    border-style: solid;
    border-image: linear-gradient(to top, #000, #fff) 1;
}
.card-picture {
    height: 220px;
    width: 300px;
}
.tour-price {
    height: 55px;
    width: 300px;
    background-color: #F26522;
    position: absolute;
    left: 0;
    bottom: -55px;
    transition: 1.5s;
}
.tour-price-from {
    padding-top: 10px;
    margin: 0 0 8px 15px;
    font-size: 10px;
    line-height: 10px;
}
.wrap-cost-details {
    display: flex;
    align-items: center;
    margin: 0 0 0 15px;
}
.tour-cost {
    padding-bottom: 10px;
    margin: 0;
    font-size: 20px;
    line-height: 20px;
}
.tour-details {
    padding-bottom: 10px;
    margin-top: 0;
    margin-bottom: 0;
    margin-right: 15px;
    margin-left: auto;
    font-size: 14px;
    line-height: 14px;
}
.tour-details::after {
    content: url(../images/bigger.svg);
    width: 5px;
    height: 10px;
    margin-left: 15px;
    vertical-align: middle;
}
.tour-name {
    text-align: center;
    margin-top: 20px;
    transition: 1s;
}
.copyright {
    text-align: center;
    margin: 50px auto 15px;
}