@font-face {
    font-family: "Circe";
    font-style: normal;
    font-weight: 400;
    src: local("Circe"),
         url("../fonts/Circe/Circe-Regular.ttf") format("ttf"),
         url("../fonts/Circe/Circe-Regular.woff") format("woff");
  }
body {
    font-family: sans-serif;
    background: #171717;
    color: #FFFFFF;
}
a {
    text-decoration: none;
    color: #FFFFFF;
}
footer {
    height: 167px;
}
.container {
    max-width: 1095px;
    margin-left: auto;
    margin-right: auto;
}
.header-nav {
    margin-top: 32px;
    margin-bottom: 32px;
    display: flex;
    align-items: center;
}
.header-phone {
    margin-left: auto;
}
.header-phone-link {
    font-family: 'Circe';
    font-weight: 700;
    font-size: 20px;
    line-height: 29px;
    margin-right: 28px;
    min-width: 114px;
    min-height: 29px;
}
.accent-color {
    color: #D6AF76;
}
.button {
    color: #E4B564;
    font-family: 'Circe';
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    border: 1px solid #E4B564;
    padding: 7px 28px;
    text-decoration: none;
    transition: 1s;
}
.header-button {
    padding-left: 38px;
    padding-right: 18px;
    background-image: url(../img/phone.svg);
    background-repeat: no-repeat;
    background-size: 13px 13px;
    background-position: 18px center;
    transition: 1s;
}
.button:hover {
    color: #171717;
    background-color: #E4B564;
}
.header-button:hover {
   background-image: url(../img/phone2.svg);
}
.section-one {
    min-height: 934px;
    background-image: url(../img/header-bg.jpeg);
    background-repeat: no-repeat
    background-size: cover;
    background-attachment: fixed;
}
.section-title-one {
    font-weight: 700;
    font-size: 50px;
    line-height: 28px;
    margin-top: 29px;
    margin-bottom: 29px;
    padding-top: 58px;
}
.section-text {
    font-style: bold;
    font-weight: 700;
    font-size: 20px;
    line-height: 28px;
}
.services {
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-gap: 2vw;
    font-weight: 700;
    list-style: none;
    text-align: center;
    align-items: center;
    padding-left: 0;
    grid-template-areas:
  "services-item-1 services-item-1 services-item-2 services-item-2 services-item-3 services-item-3"
  "services-item-4 services-item-4 services-item-4 services-item-5 services-item-5 services-item-5"
}
.services-item-1 {
    background-color: rgba(99, 79, 44, 0.9);;
    grid-area: services-item-1;
}
.services-item-2 {
    background-color: rgba(180, 163, 133, 0.9);
    grid-area: services-item-2;
}
.services-item-3 {
    background-color: rgba(228, 181, 100, 0.9);
    grid-area: services-item-3;
}
.services-item-4 {
    background-color: rgba(99, 90, 74, 0.9);
    grid-area: services-item-4;
}
.services-item-5 {
    background-color: rgba(176, 140, 77, 0.9);
    grid-area: services-item-5;
}
.services-item-link {
    display: block;
    height: 328px;
    padding: 145px 21px;
}
.section-two {
    height: 762px;
    margin-bottom: 134px;
}
.section-title-two {
    font-weight: 700;
    font-size: 50px;
    line-height: 28px;
    margin-top: 29px;
    margin-bottom: 66px;
    padding-top: 28px;
}
.construction-machinery {
    height: 762px;
    padding-left: 0;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    list-style: none;
    font-size: 20px;
    line-height: 25px;
}
.cm-item {
    padding: 31px 36px;
    margin-bottom: 2vw;
    width: 327px;
}
.cm-item-1 {
    background-color: #0E0E0E;
    height: 219px;
}
.cm-item-2 {
    background-color: #1F1F1F;
    height: 396px;
    font-weight: 500;
}
.cm-item-3 {
    background-color: #242424;
    height: 307px;
}
.cm-item-4 {
    background-color: #E4B564;
    height: 285px;
    font-weight: 500;
}
.cm-item-4 > .construction-machinery-link {
    color: #000000;
}
.cm-item-5 {
    background-color: #1F1F1F;
    height: 179px;
    font-weight: 500;
}
.cm-item-6 {
    background-color: #0E0E0E;
    height: 219px;
    font-weight: 500;
}
.cm-item-7 {
    background-color: #0A0909;
    height: 194px;
    font-weight: 700;
}
.accent-font {
    font-weight: 700;
}
.section-three {
    height: 738px;
    background-color: #0E0E0E;
    background-image: url(../img/parallax-bg.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    padding-top: 93px;
}
.section-three-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.section-title-three {
    font-weight: 700;
    font-size: 50px;
    line-height: 28px;
    margin-top: 0;
    margin-bottom: 0;
}
.clients-projects {
    margin-top: 51px;
    margin-bottom: 0;
    padding-left: 0;
    list-style: none;
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: center;
    align-items: center;
}
.cp-item {
    height: 274px;
    position: relative;
}
.cp-item-1 {
    background-color: rgba(99, 79, 44, 0.9);
}
.cp-item-2 {
    background-color: rgba(232, 210, 171, 0.9);
}
.cp-item-3 {
    background-color: rgba(228, 181, 100, 0.9);
}
.cp-item-4 {
    background-color: rgba(99, 90, 74, 0.9);
}
.cp-item-5 {
    background-color: rgba(176, 140, 77, 0.9);
}
.cp-item-6 {
    background-color: rgba(99, 79, 44, 0.9);
}
.cp-icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 30%;
    transition-duration: 1.5s;
}
.cp-text {
    text-align: center;
    font-size: 18px;
    line-height: 24px;
    margin-top: 0;
    margin-bottom: 0;
    padding: 0 50px 20px;
    opacity: 0;
    transition-duration: 1.5s;
}
.accent-text {
    font-weight: 600;
}
.cp-item:hover {
    bg
}
.cp-item:hover > a > .cp-icon {
    position: static;
    transform: none;
    margin: 40px auto 20px;
}
.cp-item:hover > a > .cp-text {
    opacity: 1;
}
