body {
    font-family: 'Montserrat', sans-serif;
}
.container {
    width: 1280px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
.menu {
    padding-left: 0;
    margin-top: 30px;
    margin-bottom: 30px;
}
.menu-list {
    display: inline;
    margin-right: 72px;
}
.menu-list:last-child {
    margin-right: 0;
}
.menu-link {
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 18px;
    letter-spacing: 2.7px;
    text-decoration: none;
    text-transform: uppercase;
    color: #FF0000;
}
.menu-link:hover {
    color: #d11616;
}
.title {
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 27px;
    letter-spacing: 3.3px;
    text-transform: uppercase;
    color: #373737;
    margin-top: 48px;
    margin-bottom: 48px;
}
.text {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 2.4px;
    color: #373737;
    margin-left: 67px;
    margin-right: 67px;
}
/* .blog-button {
    padding: 18px 43px;
    margin-top: 66px;
    margin-bottom: 82px;
    background: #FF0000;
    border-radius: 4px;
    border: none;
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 12px;
    letter-spacing: 1.8px;
    text-transform: uppercase;
    color: #FFFFFF;
} */
.blog-button:hover {
    background: #d11616;
}
.copyright {
    text-align: right;
    margin-right: 105px;
    margin-bottom: 29px;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 2.4px;
    color: #373737;
}